<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Suggest #Tag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>57E627C91BC8B308007A6E06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57E627DF1BC8B308007A6E06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57E627EA1BC8B308007A6E06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
